<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-9 mt-4 mb-4">
        <div class="card">
            <img src="<%= setup.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= setup.title %> </h5>
              <p class="card-text"><%= setup.description %></p>
              <p class="card-text tags"><%= setup.category %></p>
              <p class="card-text"><small class="text-muted">Posted <%= setup.publishedDate %></small></p>
              <form action="/setups/<%= setup._id %>?_method=DELETE" method="POST">
                <a href="/setups" class="btn btn-primary">All Setups</a>
                <a href="/setups/<%= setup._id %>/edit " class="btn btn-primary">Edit</a>
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
    </div>
    <div class="col-3 mt-4">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Welcome</h5>
            <p class="card-text">Sign up and post your gaming setups, office spaces and anything in between.</p>
            <a href="/setups/new" class="btn btn-primary ">Post your setup!</a>
            </div>
        </div>
    </div>
</div>

