<% layout('layouts/boilerplate') %> 
<header>      
</header>
<div class="row">
    <div class="col-7 offset-2 mt-4">
        <h1>All Setups</h1>
            <% for(let setup of setups) { %> 
                <div class="card mb-3">
                    <img src="<%= setup.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%= setup.title %></h5>
                    <p class="card-text"><%= setup.description %></p>
                    <p class="card-text tags"><%= setup.category %></p>
                    <a href="/setups/<%= setup._id %> " class="btn btn-primary">show</a>
                    </div>
                </div>
            <% } %> 
    </div>
    <div class="col-3 mt-4">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Hello</h5>
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            <a href="" class="btn btn-primary">show</a>
            </div>
        </div>
    </div>
</div>